@import "tailwindcss";

html {
    overflow-x: hidden;
}
body {
 
  font-family: Arial, Helvetica, sans-serif;
}
body {
    color: #666;
    font-size: 14px;
    line-height: 26px;
    background-color: #fff;
}
.borderRight::before {
    content: "";
    position: absolute;
    top: 9px;
    right: -10px;
    width: 1px;
    height: 10px;
    background: #ffffff82;
}