@import "tailwindcss";

html {
    overflow-x: hidden;
}
body {
 
  font-family: Arial, Helvetica, sans-serif;
}
body {
    color: #666;
    font-size: 14px;
    line-height: 26px;
    background-color: #fff;
}
.borderRight::before {
    content: "";
    position: absolute;
    top: 9px;
    right: -10px;
    width: 1px;
    height: 10px;
    background: #ffffff82;
}
.headerCategories::after {
    background-image: url(https://opencart.smartaddons.com/themes/so_emarket/webkul_marketplace/catalog/view/theme/so-emarket/images/icon/icon-tit.png);
    bottom: -24px;
    content: "";
    height: 32px;
    right: 4px;
    position: absolute;
    width: 5px;
    z-index: 999;
}
.headerCategories::before {
    background-image: url(https://opencart.smartaddons.com/themes/so_emarket/webkul_marketplace/catalog/view/theme/so-emarket/images/icon/icon-tit.png);
    bottom: -24px;
    content: "";
    height: 32px;
    left: 4px;
    position: absolute;
    width: 5px;
    z-index: 999;
}

